@page "/movies/{Genre?}/{Ranking?}"

<link href="~/css/custom/genreAndRanking.css" rel="stylesheet" />

<div class="container">

    <div class="row">
        <div class="col-12">
            <Select TValue="GenresEnum" @bind-SelectedValue="@genre">
                @foreach (GenresEnum genreValue in Enum.GetValues(typeof(GenresEnum)))
                {
                    <SelectItem Value="genreValue">@genreValue.ToString().Replace("_", " ")</SelectItem>
                }
            </Select>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <Select TValue="RankingsEnum" @bind-SelectedValue="@ranking">
                @foreach (RankingsEnum rankingValue in Enum.GetValues(typeof(RankingsEnum)))
                {
                    <SelectItem Value="rankingValue">@rankingValue.ToString().Replace("_", " ")</SelectItem>
                }
            </Select>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-12">
        <Rankings Genre="@genre" Ranking="@ranking" />
    </div>
</div>


@code {
    private GenresEnum genre;

    private RankingsEnum ranking;

    [Parameter]
    public string Genre

    {
        get => genre.ToString();
        set
        {
            if (value != null)
            {
                genre = (GenresEnum)Enum.Parse(typeof(GenresEnum), value);
            }
        }
    }

    [Parameter]
    public string Ranking
    {
        get => ranking.ToString();
        set
        {
            if (value != null)
            {
                ranking = (RankingsEnum)Enum.Parse(typeof(RankingsEnum), value);
            }
        }
    }

}
