@page "/movie/{Id}"

<link href="~/css/ShowMoviePage/styles.css" rel="stylesheet" />

    @if (receivedMovie) {
        

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <img class="card-img-top p-2 border-bottom-2" src="@($"https://www.themoviedb.org/t/p/original{movieBackdropPath}")" alt="..." />

                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <img class="card-img-top" src="@($"https://www.themoviedb.org/t/p/original{Movie.PosterPath}")" alt="..." />
                                </div>
                                <div class="col-8">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-inline small text-muted">@Movie.ReleaseDate</div>
                                        <div class="d-inline small text-muted text-end">@(Movie.Runtime) Minutes</div>
                                    </div>
                                    
                                    <h2 class="card-title">@Movie.Title</h2>
                                    <p class="card-text">@Movie.Overview</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->

@*                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    *@
                    
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Finances</div>
                        <div class="card-body">
                            <div class="">
                                <div class=""><strong>Budget:</strong> $@Movie.Budget</div>
                                <div class=""><strong>Revenue:</strong> $@Movie.Revenue</div>
                            </div>
                        </div>
                    </div>

                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Production Companies</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        @if (Movie.ProductionCompanies.Count > 0)
                                        {
                                            @foreach (ProductionCompaniesModel company in Movie.ProductionCompanies)
                                            {
                                                <li>@company.Name</li>
                                            }
                                        }
                                        else {
                                            <li><h1>none bro</h1></li>    
                                        }
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>



    }

@code {

    [Parameter]
    public string Id { get; set; }

    [Inject]
    private HttpClient Http { get; set; }

    [Inject]
    NavigationManager NavManager { get; set; }

    private MovieModel Movie { get; set; }

    private bool receivedMovie = false;

    private string movieBackdropPath { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await Http.GetFromJsonAsync<MovieModel>($"https://localhost:5333/api/movies/{Id}");
            jsonMovie jsonMovieResult = await Http.GetFromJsonAsync<jsonMovie>($"https://api.themoviedb.org/3/movie/{result.ImdbId}?api_key=e2b956cab063805da8cbc849ca00d644");
            result.PosterPath = jsonMovieResult.poster_path;
            movieBackdropPath = jsonMovieResult.backdrop_path;
            Movie = result;
            receivedMovie = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

        Movie.Budget = string.Format("{0:n}", Convert.ToInt32(Movie.Budget));
        Movie.Revenue = string.Format("{0:n}", Convert.ToInt32(Movie.Revenue));
        Movie.Runtime = string.Format("{0:n0}", Convert.ToDecimal(Movie.Runtime));

    }

}
